.insta-send-card {
  width: auto;
  box-shadow: lightgray 2px 2px 12px;

  img {
    width: 100%;
  }

  border: solid black 5px;
  padding: 10px 20px;
  margin: 20px;

  .button {
    pointer-events: auto;
    cursor: pointer;
    background: #e7e7e7;
    border: none;
    padding: 1.5rem 3rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
  }

  .button::before,
  .button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .button--skoll {
    overflow: hidden;
    border-radius: 50%;
    color: #ffffff;
    width: 100px;
    height: 100px;
    padding: 0;
    font-weight: 500;
  }

  .button--skoll span {
    display: block;
    position: relative;
  }

  .button--skoll > span {
    overflow: hidden;
    mix-blend-mode: difference;
  }

  .button--skoll:hover > span > span {
    animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
  }

  .button--skoll::before {
    content: '';
    background: #000;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    transform: translate3d(0,0,0);
    transition: transform 0.3s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
  }

  .button--skoll:hover::before {
    transform: translate3d(0,100%,0);
  }
}
